        <section id="page-body">
			
			<div class="spacer-big"></div>
			<div class="spacer-big hidden-768"></div>
			<div class="wrapper-small">
				<h2 class="align-center">Tucode is a network of software professionals who take great pride in helping develop the projects they work on. Tucode is not a company, just a bunch of freelancers working and progressing together.</h2>
			</div>
			<div class="spacer-big"></div>
			<div class="spacer-big hidden-768"></div>
			
			<div id="portfolio-grid" class="isotope-grid portfolio-container style-column-2 clearfix text-light">

				<div class="isotope-item portfolio-item double-width advertising">
					<div class="portfolio-item-inner item-inner">
						<a href="portfolio-single-casestudy.html" class="thumb-hover scale text-light">
							<img src="../assets/uploads/1680x700-light.jpg" alt="SEO">
							<div class="overlay-caption bottom align-left">
								<span class="caption-sub portfolio-category">Vifa</span>
								<h2 class="caption-name portfolio-name">Oslo relaunched</h2>
							</div>
						</a>
					</div>
				</div>
				
				<div class="isotope-item portfolio-item branding">
					<div class="portfolio-item-inner item-inner">
						<a href="portfolio-single-classic.html" class="thumb-hover scale text-light">
							<img src="../assets/uploads/600x400-light.jpg" alt="SEO">
							<div class="overlay-caption bottom align-left">
								<span class="caption-sub portfolio-category">Shop reconcept</span>
								<h2 class="caption-name portfolio-name">Magic Plant</h2>
							</div>
						</a>
					</div>
				</div>
				
				<div class="isotope-item portfolio-item digital">
					<div class="portfolio-item-inner item-inner">
						<a href="portfolio-single-video.html" class="thumb-hover text-light videobg-section"
							data-phattype="vimeo" 
							data-phatvideoid="65463156"
							data-phatratio="21/9"
							data-phatplayonhover="true"
							>
							<img src="../assets/uploads/600x500-light.jpg" alt="SEO">
							<div class="overlay-caption bottom align-left">
								<span class="caption-sub portfolio-category">Primera Veranot</span>
								<h2 class="caption-name portfolio-name">Romantic Falabella</h2>
							</div>
						</a>
					</div>
				</div>
				
				<div class="isotope-item portfolio-item digital">
					<div class="portfolio-item-inner item-inner">
						<a href="portfolio-single-video.html" class="thumb-hover scale text-light">
							<img src="../assets/uploads/600x500-light.jpg" alt="SEO">
							<div class="overlay-caption bottom align-left">
								<span class="caption-sub portfolio-category">Peter Bailey</span>
								<h2 class="caption-name portfolio-name">Parrots Everywhere</h2>
							</div>
						</a>
					</div>
				</div>
				
				<div class="isotope-item portfolio-item branding">
					<div class="portfolio-item-inner item-inner">
						<a href="portfolio-single-video-left.html" class="thumb-hover scale text-light">
							<img src="../assets/uploads/600x400-light.jpg" alt="SEO">
							<div class="overlay-caption bottom align-left">
								<span class="caption-sub portfolio-category">Kyumin Ha</span>
								<h2 class="caption-name portfolio-name">Gravity</h2>
							</div>
						</a>
					</div>
				</div>

			</div> <!-- END grid -->
			
			<div class="spacer-big"></div>
			<div class="spacer-big hidden-768"></div>
			
			<div class="wrapper-small">
				<h3 class="align-center">Noha is a collective unit of hybrid designers in London, a small river named Duden flows by their place and supplies.</h3>
				<div class="spacer-medium"></div>
				<h4 class="align-center title-alt">We're proud to collaborated with great brands.</h4>
				<div class="spacer-medium"></div>
			</div> <!-- END .wrapper -->
			
           	<p class="align-center do-anim">
				<img src="../assets/uploads/example-logos-big-dark.png" srcset="../assets/uploads//example-logos-big-dark.png 1x, ../assets/uploads//example-logos-big-dark@2x.png 2x" alt="SEO">
          	</p>
			<div class="spacer-medium"></div>
           	<p class="align-center do-anim">
            	<img src="../assets/uploads/example-logos-big-dark-2.png" srcset="../assets/uploads//example-logos-big-dark-2.png 1x, ../assets/uploads//example-logos-big-dark-2@2x.png 2x" alt="SEO">
			</p>
			
			<div class="fullwidth-section text-light" style="background: #000000;">
				<div class="fullwidth-content wrapper-small align-center">
					<h3 class="title-alt">Ready to start your Project? 
                        <strong>
                            <a class="nav-link"
                                routerLink="/contact">
                                Click here
                            </a>
                        </strong>
                    </h3>
					<div class="spacer-small"></div>
					<h5 class="title-alt">... or call us at {{phone}}</h5>
					
				</div>
			</div> <!-- END .fullwidth-section -->
			
		</section>