
  
  		<!-- HERO  -->
            <section id="hero" class="hero-auto">
                <div id="page-title" class="wrapper">
                    <h1 class="h2">We would love to hear from you</h1>
                </div>
            </section>
            <!-- HERO -->
       
            <!-- PAGEBODY -->
            <section id="page-body">
                                        
                <div class="wrapper">
                                                            
                    <div class="column-section clearfix">
                        
                        <div class="column full-row">
                            <form id="contact-form" class="checkform sendemail" action="php/contact-send.php" method="post">
                
                            <div class="form-row">
                                <label for="name">Name <abbr title="required" class="required">*</abbr></label>
                                <input type="text" name="name" id="name" class="name req" value="" />
                            </div>
    
                            <div class="form-row">
                                <label for="email">Email <abbr title="required" class="required">*</abbr></label>
                                <input type="text" name="email" id="email" class="email req" value="" />
                            </div>
    
                            <div class="form-row">
                                <label for="message">Message <abbr title="required" class="required">*</abbr></label>
                                <textarea name="message" id="message" class="message req" rows="30" cols="50"></textarea>
                            </div>
    
                            <div class="form-row form-note">
                                <div class="alert-error">
                                    <p>Please check your entries!</p>
                                </div>
                            </div>
    
                            <div class="form-row hidden">
                                <input type="text" id="form-check" name="form-check" value="" class="form-check" />
                            </div>
    
                            <div class="form-row">
                                <input type="submit" name="submit" class="submit" value="Send Message" />
                            </div>
    
                            <input type="hidden" name="subject" value="Contact Subject Noha HTML" />
                            <input type="hidden" name="fields" value="name,email,message" />
                        </form>
                        </div>
                    </div>
                    
                </div> <!-- END .wrapper --> 
                
                <div class="spacer-big"></div>
                
            </section>
            <!-- PAGEBODY -->