
		<section id="hero" class="hero-auto">
        
			<div class="revolution-slider-wrapper">
				<div id="revolutionslider1" class="revolution-slider"  data-version="5.0">
					<ul>
						<li class="text-light" data-transition="fade" data-masterspeed="400">			
							<!-- MAIN IMAGE -->
							<img src="../assets/uploads/1680x1100-dark.jpg"  alt="SEO"  width="1680" height="1100">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption noha-caption align-center"				
								data-x="left" data-hoffset="['50','40','30','30']" 
								data-y="center" data-voffset="0"
                            	data-basealign="slide"
								data-fontsize="['52','44','32','22']"
								data-lineheight="['74','66','46','36']"
								data-width="['700', '600', '440', '260']"
								data-height="auto"
								data-whitespace="['normal','normal','normal','normal']"
								
								data-frames='[{"delay":300,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
								 
								data-start="1000"
								data-responsive_offset="on">
								Mobile and Web <br/>Craftsmen
							</div>
						</li>
					</ul>
					
				</div><!-- END .revolution-slider -->
			</div> <!-- END .revolution-slider-wrapper -->
       
       		<a href="#" id="scrolldown" class="left text-light">
				<svg class="arrow arrow-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 35.35"><title>back-arrow</title><path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path></svg>
				<span class="text">Scroll Down</span>
			</a>
        
    	</section>